@import 'sass';

.Button {
	@include button();
	position: absolute;
	left: 5%;
	bottom: 5%;
	background: rgba($color: $color-beige, $alpha: 0.5);
	transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);

	&Active {
		@extend .Button;
		cursor: pointer;
		background: rgba($color: $color-beige, $alpha: 1);
	}
}
