@import 'sass';

.Button {
	@include button();
	z-index: 0;
	position: absolute;
	left: 8%;
	bottom: 5%;
	background: transparent;
	border: none;
	transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);

	.Border {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		background-color: transparent;
		border: 2px solid black;
		transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}

	&Active {
		@extend .Button;
		cursor: pointer;

		.Border {
			border: 2px solid $color-gold;
			box-shadow: 0 0 10px 2px $color-gold;
			background-color: rgb(255, 255, 247);
		}
	}
}
