@import 'sass';

.Game {
	position: relative;
	height: 95%;
	width: 95%;
	max-width: 960px;
	max-height: 1080px;
	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		height: 100%;
		width: 100%;
		border-radius: 0px;
	}
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	box-shadow: 0 0 20px 3px rgba(106, 106, 106, 0.412);
	// padding: 2%;
	background-color: $color-blue;
	// background-color: rgba($color: $color-blue, $alpha: 0.8);

	.Points {
		// z-index: 0;
		position: relative;
		width: 100%;
		height: 17%;
		min-height: 150px;
		@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
			height: 10%;
			min-height: 100px;
		}

		background-image: url('../../../assets/sky.jpg');
		background-size: cover;
		background-position: top;

		// box-shadow: 0 1px 5px rgba(0, 0, 0, 0.494);

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;

		.Point {
			height: 80px;
			width: 80px;
			border-radius: 50%;
			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				height: 55px;
				width: 55px;
			}
			@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
				height: 35px;
				width: 35px;
			}
			background: rgba(90, 90, 90, 0.443);
			border: 2px solid black;
			transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
			@include flex-center;
			p {
				text-align: center;
				font-family: 'Aboreto';
				font-size: 50px;
				color: $color-gold;
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					font-size: 40px;
				}
				@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
					font-size: 25px;
				}
			}

			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			&1 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/avatar_glow.png');
				box-shadow: 0 0 10px $color-yellow;
			}
			&2 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/water_tribe.png');
				background-size: 120%;
				box-shadow: 0 0 10px $color-blue;
			}
			&3 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/boomerang.webp');
				box-shadow: 0 0 10px $color-blue;
			}
			&4 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/fire_nation.jpeg');
				box-shadow: 0 0 10px $color-red;
			}
			&5 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/iroh_tea.webp');
				background-size: 120%;
				background-position: top right;
				box-shadow: 0 0 10px $color-red;
			}
			&6 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/earth_bending.png');
				background-position: top;
				box-shadow: 0 0 10px $color-green;
			}
			&7 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/blue_flame.png');
				box-shadow: 0 0 10px $color-red;
			}
			&8 {
				@extend .Point;
				background-color: rgb(246, 246, 246);
				background-image: url('../../../assets/momo.png');
				box-shadow: 0 0 10px $color-yellow;
			}
		}
	}
	.Tracker {
		position: relative;
		width: 100%;
		height: 18%;

		display: flex;
		justify-content: space-evenly;
		padding-top: 5px;

		.Team {
			position: relative;
			height: 100%;
			width: 35%;
			// background-color: black;
			display: flex;
			justify-content: center;
			align-items: center;

			.RoundTracker {
				height: 100%;
				width: 30%;
			}

			.TeamInfo {
				height: 100%;
				width: 80%;
				padding-top: 3px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				transition: all 0.5s ease;

				.Name {
					text-align: center;
					height: 20%;
					width: 100%;
					font-family: 'Aboreto';
					font-size: 25px;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						font-size: 22px;
					}
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						font-size: 20px;
					}

					&Active {
						@extend .Name;
						color: white;
						text-shadow: 0 0 5px $color-gold;
					}
				}

				.Character {
					height: 80%;
					width: 100%;
					height: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: bottom;
					&1 {
						@extend .Character;
						background-image: url('../../../assets/aang.png');
					}
					&2 {
						@extend .Character;
						background-image: url('../../../assets/katara.png');
					}
					&3 {
						@extend .Character;
						background-image: url('../../../assets/sokka.png');
					}
					&4 {
						@extend .Character;
						background-image: url('../../../assets/zuko.png');
					}
					&5 {
						@extend .Character;
						background-image: url('../../../assets/iroh.png');
					}
					&6 {
						@extend .Character;
						background-image: url('../../../assets/toph.png');
					}
					&7 {
						@extend .Character;
						background-image: url('../../../assets/azula.png');
					}
					&8 {
						@extend .Character;
						background-image: url('../../../assets/appa.png');
					}
				}

				&Fade {
					@extend .TeamInfo;
					opacity: 0.5;
				}
			}

			.GameTracker {
				width: 30%;
			}
		}
		.One {
			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				justify-content: flex-end;
			}
		}
		.Two {
			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				justify-content: flex-start;
			}
		}

		.Center {
			height: 100%;
			width: 30%;
			min-width: 100px;
			// background-color: grey;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			padding: 10px;

			.Round {
				text-align: center;
				h3 {
					// font-family: 'Aboreto';
					text-transform: uppercase;
					font-size: 21px;
					font-weight: 300;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						font-size: 18px;
					}
				}
				h4 {
					font-size: 18px;
					font-weight: 100;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						font-size: 14px;
					}
				}
			}
			.Score {
				p {
					letter-spacing: 2pt;
					font-size: 60px;
					font-weight: 300;
					white-space: nowrap;
					.Win {
						// color: $color-gold;
						// text-shadow: 0 0 10px $color-gold;
					}
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						font-size: 40px;
					}
				}
			}
		}
	}
	.Play {
		position: relative;
		height: 65%;
		@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
			height: 72%;
		}
		width: 85%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.Display {
			position: absolute;
			height: 95%;
			width: 100%;
			top: 0;
			left: 0;
			padding: 4% 8% 2%;
			border: 2px solid black;
			border-radius: 20px;
			overflow: hidden;
			transition: all 1s cubic-bezier(0.165, 0.85, 0.2, 1.1);
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			background-color: rgb(248, 254, 255);
			transition-delay: 0.5s;

			.Transition {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				text-align: center;

				.Header {
					width: 100%;
					height: fit-content;
					max-height: 20%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					text-align: center;

					h2 {
						text-transform: uppercase;
						font-weight: 400;
						letter-spacing: 0.5pt;
						margin-bottom: 10px;
						@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
							font-size: 18px;
						}
					}
					.Winner {
						font-size: 35px;
						font-weight: 500;
						letter-spacing: 1.5pt;
						@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
							font-size: 28px;
							letter-spacing: 1pt;
						}
					}
					h1 {
						width: 100%;
						position: relative;
						display: flex;
						justify-content: center;
						letter-spacing: 1pt;
						@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
							font-size: 22px;
						}
						span {
							font-family: 'Aboreto';
						}
						.TotalScore {
							width: 10%;
							margin: 0 20px;
							white-space: nowrap;
						}
						.Left {
							text-align: right;
							@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
								text-align: center;
							}
						}
						.Right {
							text-align: left;
							@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
								text-align: center;
							}
						}
						.Name {
							width: 40%;
							white-space: wrap;

							&1 {
								@extend .Name;
								color: $color-yellow;
							}
							&2 {
								@extend .Name;
								color: $color-blue;
							}
							&3 {
								@extend .Name;
								color: $color-blue;
							}
							&4 {
								@extend .Name;
								color: $color-red;
							}
							&5 {
								@extend .Name;
								color: $color-red;
							}
							&6 {
								@extend .Name;
								color: $color-green;
							}
							&7 {
								@extend .Name;
								color: $color-red;
							}
							&8 {
								@extend .Name;
								color: $color-yellow;
							}
						}
					}
				}

				.Rounds {
					width: 100%;
					height: fit-content;
					max-height: 70%;
					min-height: 50%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					text-align: center;

					.Round {
						z-index: 0;
						position: relative;
						overflow: hidden;
						width: 100%;
						height: 50px;
						min-height: 30px;
						border-radius: 50px;
						margin-bottom: 5px;
						@include flex-center;

						.Score {
							z-index: -1;
							position: absolute;
							height: 100%;
							width: 100%;

							.TeamLeft {
								border-top-left-radius: 50px;
								border-bottom-left-radius: 50px;
								position: absolute;
								height: 100%;
								width: 30%;
								@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
									width: 25%;
									padding-left: 5px;
								}
								top: 0;
								left: 0;
								display: flex;
								flex-direction: row;
								justify-content: flex-start;
								align-items: center;
								h4 {
									margin-left: 15%;
									font-size: 30px;
									@media screen and (max-width: $breakpoint-tablet),
										(max-height: $breakpoint-tablet) {
										font-size: 20px;
									}
									text-shadow: 1px 1px 3px rgb(255, 255, 255);
								}

								&1 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-yellow, white);
								}
								&2 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-blue, white);
								}
								&3 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-blue, white);
								}
								&4 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-red, white);
								}
								&5 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-red, white);
								}
								&6 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-green, white);
								}
								&7 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-red, white);
								}
								&8 {
									@extend .TeamLeft;
									background: linear-gradient(to right, $color-yellow, white);
								}
							}

							.TeamRight {
								border-top-right-radius: 50px;
								border-bottom-right-radius: 50px;
								position: absolute;
								height: 100%;
								width: 30%;
								@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
									width: 25%;
									padding-right: 5px;
								}
								top: 0;
								right: 0;
								display: flex;
								flex-direction: row;
								justify-content: flex-end;
								align-items: center;
								h4 {
									margin-right: 15%;
									font-size: 30px;
									@media screen and (max-width: $breakpoint-tablet),
										(max-height: $breakpoint-tablet) {
										font-size: 20px;
									}
									text-shadow: 1px 1px 3px rgb(255, 255, 255);
								}
								&1 {
									@extend .TeamRight;
									background: linear-gradient(to left, $color-yellow, white);
								}
								&2 {
									@extend .TeamRight;
									background: linear-gradient(to left, $color-blue, white);
								}
								&3 {
									@extend .TeamRight;
									background: linear-gradient(to left, $color-blue, white);
								}
								&4 {
									@extend .TeamRight;
									// color: $color-red;
									background: linear-gradient(to left, $color-red, white);
								}
								&5 {
									@extend .TeamRight;
									background: linear-gradient(to left, $color-red, white);
								}
								&6 {
									@extend .TeamRight;
									background: linear-gradient(to left, $color-green, white);
								}
								&7 {
									@extend .TeamRight;
									background: linear-gradient(to left, $color-red, white);
								}
								&8 {
									@extend .TeamRight;
									background: linear-gradient(to left, $color-yellow, white);
								}
							}
						}

						.Info {
							position: relative;
							height: 100%;
							width: 70%;
							// padding: 0 5%;
							@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
								width: 75%;
							}

							background: white;
							border: 1px solid black;
							border-radius: 5px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							overflow: hidden;
							@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
								justify-content: space-evenly;
							}

							.Number {
								margin-left: 5%;
								height: 100%;
								width: 20%;
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								position: relative;

								h4 {
									font-size: 50%;
									text-transform: uppercase;
									font-weight: 100;
								}
								div {
									font-size: 100%;
								}
							}
							.Category {
								height: 100%;
								width: 60%;
								@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
									width: 80%;
									margin-right: 5%;
								}
								text-align: center;
								font-weight: 300;
								font-size: 18px;
								@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
									font-size: 16px;
								}
								@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
									font-size: 14px;
								}
								// white-space: nowrap;
								display: flex;
								justify-content: center;
								align-items: center;
							}
							.Difficulty {
								margin-right: 5%;
								height: 100%;
								width: 20%;
								@include flex-center;
								position: relative;
								h4 {
									font-size: 12px;
									text-transform: uppercase;
									font-weight: 100;
									@media screen and (max-width: $breakpoint-tablet),
										(max-height: $breakpoint-tablet) {
										font-size: 10px;
									}
								}
								@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
									display: none;
								}
							}
							.Note {
								z-index: 5;
								position: absolute;
								top: 5px;
								right: 5px;
								color: $color-red;
								height: 20px;
								width: 20px;
								border-radius: 50%;
								border: 1px solid $color-red;
								@include flex-center;
								text-align: center;
								font-size: 16px;
								font-weight: 500;
								cursor: pointer;
								@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
									height: 15px;
									width: 15px;
									font-size: 12px;
								}
							}

							.ShowNote {
								z-index: 10;
								position: absolute;
								top: 0;
								height: 100%;
								width: 100%;
								border-radius: 5px;
								background: white;
								padding: 0 8%;
								font-size: 14px;
								@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
									font-size: 10px;
								}
								font-weight: 300;
								@include flex-center;
								text-align: center;
								transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

								.Close {
									position: absolute;
									top: 5px;
									right: 5px;
									color: $color-red;
									height: 20px;
									width: 20px;
									border-radius: 50%;
									border: 1px solid $color-red;
									@include flex-center;
									text-align: center;
									font-size: 14px;
									font-weight: 500;
									cursor: pointer;
									@media screen and (max-width: $breakpoint-tablet),
										(max-height: $breakpoint-tablet) {
										height: 15px;
										width: 15px;
										font-size: 12px;
									}
								}

								&Hide {
									@extend .ShowNote;
									top: 105%;
								}
							}

							&1 {
								@extend .Info;
								border: 1px solid $color-yellow;
								box-shadow: inset 0 0 8px $color-yellow;
							}
							&2 {
								@extend .Info;
								border: 1px solid $color-blue;
								box-shadow: inset 0 0 8px $color-blue;
							}
							&3 {
								@extend .Info;
								border: 1px solid $color-blue;
								box-shadow: inset 0 0 8px $color-blue;
							}
							&4 {
								@extend .Info;
								border: 1px solid $color-red;
								box-shadow: inset 0 0 8px $color-red;
							}
							&5 {
								@extend .Info;
								border: 1px solid $color-red;
								box-shadow: inset 0 0 8px $color-red;
							}
							&6 {
								@extend .Info;
								border: 1px solid $color-green;
								box-shadow: inset 0 0 8px $color-green;
							}
							&7 {
								@extend .Info;
								border: 1px solid $color-red;
								box-shadow: inset 0 0 8px $color-red;
							}
							&8 {
								@extend .Info;
								border: 1px solid $color-yellow;
								box-shadow: inset 0 0 8px $color-yellow;
							}
						}

						&Complete {
							@extend .Round;
							box-shadow: 0 0 5px rgb(193, 193, 193);
						}
					}
				}

				button {
					@include nextRound;
				}

				.Instructions {
					@include instructions;
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						bottom: 3%;
						right: 5%;
					}
				}
			}

			.TurnIndicator {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 10px;

				.TurnLeft {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 50%;
					transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
					// opacity: 0.75;
					&1 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-yellow 50%, white);
					}
					&2 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-blue 50%, white);
					}
					&3 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-blue 50%, white);
					}
					&4 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-red 50%, white);
					}
					&5 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-red 50%, white);
					}
					&6 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-green 50%, white);
					}
					&7 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-red 50%, white);
					}
					&8 {
						@extend .TurnLeft;
						background: linear-gradient(to right, $color-yellow 50%, white);
					}
				}
				.TurnRight {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 50%;
					transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
					// opacity: 0.75;
					&1 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-yellow 50%, white);
					}
					&2 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-blue 50%, white);
					}
					&3 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-blue 50%, white);
					}
					&4 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-red 50%, white);
					}
					&5 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-red 50%, white);
					}
					&6 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-green 50%, white);
					}
					&7 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-red 50%, white);
					}
					&8 {
						@extend .TurnRight;
						background: linear-gradient(to left, $color-yellow 50%, white);
					}
				}
				.Hide {
					transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
					opacity: 0;
				}
			}

			.Question {
				width: 100%;
				text-align: center;

				p {
					font-size: 20px;
					margin-bottom: 5px;
					letter-spacing: 0.3pt;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						font-size: 18px;
					}
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						font-size: 16px;
					}
				}

				.CurrentTeam {
					font-style: italic;
				}
			}
			.Answers {
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;

				.Answer {
					height: 60px;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						height: 55px;
					}
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						height: 50px;
					}
					width: 100%;
					margin: 10px 0;
					cursor: pointer;
					position: relative;

					@mixin answer {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						border-radius: 50px;
						padding: 0 3%;
						transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						@include flex-center;
						backface-visibility: hidden;
						font-size: 16px;
						@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
							font-size: 14px;
						}
						@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
							font-size: 12px;
						}
					}

					.Front {
						@include answer();
						border: 2px solid $color-gold;
					}

					.Back {
						@include answer();
						transform: rotateX(-180deg);
						@include flex-center;
						border-radius: 50px;
						z-index: 0;
						overflow: hidden;

						.Text {
							z-index: 2;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							white-space: wrap;
							font-size: 16px;
							// color: $color-grey;
							@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
								font-size: 14px;
							}
							@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
								font-size: 12px;
							}
						}
						.Background {
							z-index: 1;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							overflow: hidden;
							white-space: wrap;
							font-size: 130px;
							@include flex-center;
							opacity: 0.7;
						}

						&Correct {
							@extend .Back;
							border: 2px solid rgb(75, 157, 75);
							.Background {
								color: rgb(75, 157, 75);
							}
						}
						&Incorrect {
							@extend .Back;
							border: 2px solid $color-gold;
							.Background {
								color: $color-red;
							}
						}
					}

					&Flip {
						@extend .Answer;

						.Front {
							transform: rotateX(180deg);
						}

						.Back {
							transform: rotateX(0deg);
						}
					}
				}
			}

			&Above {
				@extend .Display;
				top: -95%;
				transition-delay: 0s;
			}
			&Below {
				@extend .Display;
				top: 105%;
				transition-delay: 0s;
			}

			.Next {
				@include nextQuestion;
			}
		}
	}
}
