@import 'sass';

.StartGame {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 3%;

	.Matchup {
		height: 30%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;

		.Team {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			h1 {
				font-size: 32px;
				margin-bottom: 10px;
				font-family: 'Aboreto';
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					font-size: 28px;
				}
				@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
					font-size: 22px;
				}
			}
			.Character {
				width: 135px;
				height: 135px;
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					width: 120px;
					height: 120px;
				}
				@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
					width: 100px;
					height: 100px;
				}
				border-radius: 50%;
				overflow: hidden;
				background-size: cover;
				background-repeat: no-repeat;

				&1 {
					@extend .Character;
					background-image: url('../../../assets/aang.png');
					border: 2px solid $color-yellow;
					box-shadow: 0 0 10px 1px $color-yellow;
				}
				&2 {
					@extend .Character;
					background-image: url('../../../assets/katara.png');
					border: 2px solid $color-blue;
					box-shadow: 0 0 10px 1px $color-blue;
				}
				&3 {
					@extend .Character;
					background-image: url('../../../assets/sokka.png');
					border: 2px solid $color-blue;
					box-shadow: 0 0 10px 1px $color-blue;
				}
				&4 {
					@extend .Character;
					background-image: url('../../../assets/zuko.png');
					background-size: contain;
					border: 2px solid $color-red;
					box-shadow: 0 0 10px 1px $color-red;
				}
				&5 {
					@extend .Character;
					background-image: url('../../../assets/iroh.png');
					border: 2px solid $color-red;
					box-shadow: 0 0 10px 1px $color-red;
				}
				&6 {
					@extend .Character;
					background-image: url('../../../assets/toph.png');
					border: 2px solid $color-green;
					box-shadow: 0 0 10px 1px $color-green;
				}
				&7 {
					@extend .Character;
					background-image: url('../../../assets/azula.png');
					background-size: contain;
					background-position: center;
					border: 2px solid $color-red;
					box-shadow: 0 0 10px 1px $color-red;
				}
				&8 {
					@extend .Character;
					background-image: url('../../../assets/appa.png');
					background-size: contain;
					background-position: center;
					border: 2px solid $color-yellow;
					box-shadow: 0 0 10px 1px $color-yellow;
				}
			}
		}
	}

	.Game {
		margin-top: 30px;
		height: fit-content;
		max-height: 60%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		.Round {
			width: 80%;
			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				width: 90%;
			}
			height: 50px;
			min-height: 30px;
			border: 1px solid black;
			border-radius: 5px;
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.Number {
				height: 100%;
				width: 20%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;

				h4 {
					font-size: 50%;
					text-transform: uppercase;
					font-weight: 100;
				}
				div {
					font-size: 100%;
				}
			}
			.Category {
				height: 100%;
				width: 60%;
				text-align: center;
				font-size: 18px;
				font-weight: 300;
				// white-space: nowrap;
				display: flex;
				justify-content: center;
				align-items: center;
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					font-size: 16px;
				}
				@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
					font-size: 14px;
				}
			}
			.Difficulty {
				height: 100%;
				width: 20%;
				@include flex-center;
				position: relative;
				h4 {
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 100;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						font-size: 10px;
					}
				}
			}
		}
	}
}
