$color-wrapper: #227c9d;
$color-background: #fffdf4;

$color-blue: #227c9d;
$color-teal: #17c3b2;
$color-yellow: #ffcb77;
$color-beige: #fff5e1;
$color-red: #ad3a3e;
$color-gold: #dfcdad;
$color-green: #247021;
