@import 'sass';

.Wrapper {
	height: 100%;
	width: 100%;
	background-color: $color-background;
	.Top {
		position: fixed;
		top: 0;
		width: 100%;
		height: 2vh;
		background: $color-wrapper;
	}
	.Right {
		position: fixed;
		right: 0;
		height: 100%;
		width: 2vh;
		background: $color-wrapper;
	}
	.Left {
		position: fixed;
		left: 0;
		height: 100%;
		width: 2vh;
		background: $color-wrapper;
	}
	.Bottom {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 2vh;
		background: $color-wrapper;
	}
	// .TriangleLeftContainer {
	// 	position: fixed;
	// 	bottom: 0;
	// 	left: 0;
	// 	height: 300px;
	// 	width: 300px;
	// 	overflow: hidden;
	// 	.TriangleLeft {
	// 		position: absolute;
	// 		width: 0;
	// 		height: 0;
	// 		top: 0;
	// 		left: 0;
	// 		border-top: 300px solid transparent;
	// 		border-bottom: 300px solid transparent;
	// 		border-left: 300px solid $color-wrapper;
	// 	}
	// }
	// .TriangleRightContainer {
	// 	position: fixed;
	// 	bottom: 0;
	// 	right: 0;
	// 	height: 300px;
	// 	width: 300px;
	// 	overflow: hidden;
	// 	.TriangleRight {
	// 		position: absolute;
	// 		width: 0;
	// 		height: 0;
	// 		top: 0;
	// 		right: 0;
	// 		border-top: 300px solid transparent;
	// 		border-bottom: 300px solid transparent;
	// 		border-right: 300px solid $color-wrapper;
	// 	}
	// }
	.BottomLeft {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 20vh;
		width: 20vw;
		background: $color-wrapper;
		border-top-right-radius: 20px;
	}
	.BottomRight {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 20vh;
		width: 20vw;
		background: $color-wrapper;
		border-top-left-radius: 20px;
	}
}
