@import 'sass';

.App {
	height: 100vh;
	width: 100vw;
	background-color: $color-background;
	@include flex-center;

	@media screen and (orientation: landscape) and (max-height: $breakpoint-tablet) {
		/* Rotate the content container */
		transform: rotate(-90deg);
		transform-origin: left top;
		/* Set content width to viewport height */
		width: 100vh;
		/* Set content height to viewport width */
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}

	.SetUp {
		position: relative;
		height: 95%;
		width: 95%;
		max-width: 960px;
		max-height: 1080px;
		border-radius: 20px;

		@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
			height: 100%;
			width: 100%;
			border-radius: 0px;
		}

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow: hidden;
		box-shadow: 0 0 20px 3px rgba(106, 106, 106, 0.412);
		// padding: 2%;
		background-color: $color-blue;
		// background-color: rgba($color: $color-blue, $alpha: 0.8);

		.ToDo {
			z-index: 0;
			position: relative;
			// border-radius: 20px 20px 0 0;
			width: 100%;
			height: 17%;
			min-height: 130px;

			background-image: url('./assets/sky.jpg');
			background-size: cover;
			background-position: top;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(4, 1fr);
			}

			.ToDoItem {
				z-index: 1;
				height: 100%;
				width: 100%;
				text-align: center;
				transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
				@include flex-center;
				font-size: 20px;
				letter-spacing: 0.5pt;
				text-transform: uppercase;
				font-weight: 300;

				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					font-size: 16px;
				}

				&Current {
					@extend .ToDoItem;
				}
				&Complete {
					@extend .ToDoItem;
					color: rgb(127, 127, 127);
				}
			}

			.AppaFly {
				position: absolute;
				height: 60px;
				width: 100px;
				background-image: url('./assets/appa.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom;
				transition: 1.5s all cubic-bezier(0.445, 0.05, 0.55, 0.95);

				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					height: 40px;
					width: 75px;
				}

				&0 {
					@extend .AppaFly;
					left: 7%;
					bottom: 0;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						bottom: 10%;
					}
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						top: 3%;
						left: 15%;
					}
					@media screen and (max-width: 370px) {
						left: 8%;
					}
				}
				&1 {
					@extend .AppaFly;
					left: 33%;
					bottom: 55%;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						left: 30%;
						bottom: 65%;
					}
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						top: 22%;
						left: 15%;
					}
					@media screen and (max-width: 370px) {
						left: 8%;
					}
				}
				&2 {
					@extend .AppaFly;
					left: 57%;
					bottom: 0;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						left: 55%;
						bottom: 10%;
					}
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						top: 47%;
						left: 15%;
					}
					@media screen and (max-width: 370px) {
						left: 8%;
					}
				}
				&3 {
					@extend .AppaFly;
					left: 82%;
					bottom: 55%;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						left: 80%;
						bottom: 65%;
					}
					@media screen and (max-width: $breakpoint-mobile), (max-height: $breakpoint-mobile) {
						top: 70%;
						left: 15%;
					}
					@media screen and (max-width: 370px) {
						left: 8%;
					}
				}
			}
			.Instructions {
				@include instructions;
			}
		}
		.Settings {
			position: relative;
			// margin-top: 3%;
			height: 68%;
			width: 85%;
			@media screen and (max-height: 750px) {
				height: 65%;
			}
			overflow: hidden;
			@mixin SetUp {
				position: absolute;
				height: 43%;
				width: 80%;
				padding: 2% 5%;
				border: 2px solid black;
				border-radius: 20px;
				transition: all 1s cubic-bezier(0.165, 0.85, 0.2, 1.1);
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				background-color: rgb(248, 254, 255);

				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					width: 95%;
				}
			}
			.Name {
				@include SetUp();
				padding: 5% 8%;

				// background: linear-gradient(to bottom right, $color-gold, white);

				.InputDiv {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					label {
						margin-bottom: 10px;
						text-transform: uppercase;
						font-size: 16px;
					}
					input {
						width: 300px;
						height: 70px;
						@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
							width: 200px;
							height: 50px;
						}
						text-align: center;
						border: 1px solid black;
						border-radius: 5px;
						background: linear-gradient(to bottom right, rgba($color: $color-teal, $alpha: 0.5), white);
						padding: 10px 20px;
						font-size: 25px;
						font-weight: 100;
					}
				}

				&1 {
					@extend .Name;
					top: 5%;
					left: 0;
					transition-delay: 0.7s;
					&Below {
						@extend .Name1;
						top: 105%;
						transition-delay: 0.2s;
					}
				}
				&2 {
					@extend .Name;
					bottom: 3%;
					right: 0;
					transition-delay: 0.5s;
					&Below {
						@extend .Name2;
						bottom: -93%;
						transition-delay: 0s;
					}
				}
			}

			.Character1 {
				@include SetUp();
				top: 5%;
				left: 0;
				transition-delay: 0.7s;
				&Above {
					@extend .Character1;
					top: -95%;
					transition-delay: 0s;
				}
				&Below {
					@extend .Character1;
					top: 105%;
					transition-delay: 0.2s;
				}
			}
			.Character2 {
				@include SetUp();
				bottom: 3%;
				right: 0;
				transition-delay: 0.5s;
				&Above {
					@extend .Character2;
					bottom: 103%;
					transition-delay: 0.2s;
				}
				&Below {
					@extend .Character2;
					bottom: -93%;
					transition-delay: 0s;
				}
			}
			.Categories {
				@include SetUp();
				height: 90%;
				width: 100%;
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					width: 100%;
				}
				top: 5%;
				left: 0;
				transition-delay: 0.5s;
				&Above {
					@extend .Categories;
					top: -95%;
					transition-delay: 0s;
				}
				&Below {
					@extend .Categories;
					top: 105%;
					transition-delay: 0s;
				}
			}
			.StartGame {
				@include SetUp();
				height: 90%;
				width: 100%;
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					width: 100%;
				}
				top: 5%;
				left: 0;
				padding: 0 5% 2%;
				transition-delay: 0.3s;
				&Above {
					@extend .StartGame;
					top: -95%;
					transition-delay: 0s;
				}
			}
		}
	}
}
